/* Untuk Tablets */
/* Tambahkan breakpoint max-width: 1000px */
@media (max-width:1000px) {
   /*awal bagian utama*/
   .main{
     width: 100%;
   }
   
    .contents{
      width:100%;
      margin-bottom:50px;
    }

    .copy-container{
      width: 100%;    }  
    .copy-container h1{
      font-size:45px;
    }
    .copy-container h2{
      font-size:35px;
    }

    .profile-item img{
      width:90px;
      height:90px;
      border-radius:50%;
      border:8px solid white;
    }
    .profile-item p{
      font-size:18px;
    }
    /*akhir bagian utama*/

    /*awal bagian footer*/
    footer{
      height: 400px;
    }
    /*akhir bagian footer*/


    
}

  /* Untuk Smartphones */
  /* Tambahkan breakpoint max-width: 670px */
@media (max-width:670px) {
    /*Awal header*/
    .navbar-icon{
      display: block;
      float: right;
    }
    .header-right{
      display: none;
    }
    /*akhir header*/

    
    
    /*awal bagian utama*/
    .copy-container h1{
        font-size:25px;
        line-height:36px;
      }
      .copy-container h2{
        font-size:15px;
      }   
     .copy-container p{
         font-size:12px;
         line-height:20px;
       }  

      .profile-item img{
        width:60px;
        height:60px;
        border-radius:25%;
        border:5px solid white;
      }
      
      .profile-item p{
        font-size:12px;
      }
    /*akhir bagian utama*/

    /*awal bagian footer*/
    footer{
      height: 700px;
      padding: 30px 10px;
    }
    footer img,p{
      margin-left: 30px;
    }
    .footer-right{
      display:inline-block;
    }
    .specialLi{
    font-size: 35px;
    color: #fafafa;
    line-height: 30px;
    }
   .normalLi{
    font-size: 20px;
    color:#fafaf0;
    line-height: 30px;
    } 
    /*akhir bagian footer*/
  }