/* Terapkan box-sizing: border-box; ke semua element */
*{
  box-sizing:border-box;
}

body {
  margin:0;
  font-family: "Avenir Next";
}

/* Tambahkan CSS untuk clear */
.clear{
  clear:left;
}

li {
  list-style: none;
}

.header {
  /* Ubah width ke 100% */
  width: 100%;
  background-color: #26d0c9;
  color: rgb(255, 255, 255);
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}


/*Ini Awal Bagian Utama*/
.copy-container{
  padding: 200px 0 150px 0;
  background-image: url(Images/gambar1.png);
  background-size: cover;
  color:#26d0c9;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.copy-container h1 {
  opacity: 0.7;
  font-size: 85px;
  letter-spacing: 5px;
  margin-top: 10px;
}

.copy-container h2 {
  opacity: 0.7;
  font-size: 75px;
  color:#804aff;
}

.copy-container span {
  color: #ff4a4a;
}

.profile-item {
  float: left;
  width: 20%;
}

.profile-item img{
  width:180px;
  height:180px;
  border-radius:100%;
  border:10px solid white;
}

.profile-item img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }
  
  .profile-item img:hover {
  -webkit-transform: scale(1.2) rotate(1080deg);
  -moz-transform: scale(1.2) rotate(1080deg);
  -o-transform: scale(1.2) rotate(1080deg);
  -ms-transform: scale(1.2) rotate(1080deg);
  transform: scale(1.2) rotate(1080deg);
  }

.profile-item p {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 7px;
  color:white;
}
/*Ini Awal Bagian Utama*/


/*Ini Awal Bagian Extra1*/
.contents {
 /* height: 500px;*/
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  width:25%;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}
/*Ini Akhir Bagian Extra1*/


/*Ini Awal Bagian Extra2*/
.extra2 {

}
/*Ini Akhir Bagian Extra2*/


/*Ini Awal Bagian Footer*/
footer {
  background-color: rgba(0,0,0,1);
  color: #fff;
  height: 250px;
  padding:60px;
  box-shadow: 0px -5px 10px -5px red;
}

.footer-left{
  float: left;
}
.footer-right{
  float:right;
  color:#fff;
  padding: 10px;
  line-height: 20px;
}
.footer-right .container{
  float: right;
}
.specialLi{
  font-size: 30px;
  color: #fafafa;
}
.normalLi{
  font-size: 25px;
  color:#fafaf0;
}

footer img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  opacity: 0.8;
  box-shadow: -1px -1px 10px -2px red;
}

footer img:hover{
  box-shadow: -1px -1px 15px 5px red;
  transition: 2s;
}

footer p{
  color:#fff;
  width:100px;
  line-height: 10px;
  font-size: 20px;
  margin-top: 2px
}
footer a{
  text-decoration: none;
  color:#fafafa;
}



.sosialMedia ul{
  position: static;
  display: flex;
  transform-style: preserve-3d;
  transform: rotate(-2deg) skew(10deg);
  margin-top: 40px;
  padding-left: 360px;
}

.sosialMedia ul li{
  position: relative;
  list-style: none;
  width: 30px;
  height: 30px;
}

.sosialMedia li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}

.sosialMedia ul li:after{
  content: '';
  position: absolute;
  top:0;
  left:-9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform-origin: right;
  transform:skewY(-49deg);
}

.sosialMedia ul li span{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #333;
  color:rgba(255,255,255,0.2);
  font-style: 30px !important;
  transition: 0.2s;
}

.sosialMedia ul li:hover span{
  z-index: 1000;
  transition: 0.5s;
  color:#fff;
  box-shadow: -1px,1px,1px,rgba(0,0,0,05);
}

.sosialMedia ul li:hover span:nth-child(5){
  transform: translate(40px,-40px);
  opacity: 1;
}

.sosialMedia ul li:hover span:nth-child(4){
  transform: translate(30px,-30px);
  opacity: 0.8;
}

.sosialMedia ul li:hover span:nth-child(3){
  transform: translate(20px,-20px);
  opacity: 0.6;
}

.sosialMedia ul li:hover span:nth-child(2){
  transform: translate(10px,-10px);
  opacity: 0.4;
}
.sosialMedia ul li:hover span:nth-child(1){
  transform: translate(0px,0px);
  opacity: 0.2;
}
.sosialMedia ul li:nth-child(1):hover span{
  background: #3b5999;
}
.sosialMedia ul li:nth-child(2):hover span{
  background: #55acee;
}
.sosialMedia ul li:nth-child(3):hover span{
  background: #25d366;
}
.sosialMedia ul li:nth-child(4):hover span{
  background: gray;
}
.sosialMedia ul li:nth-child(5):hover span{
  background: #e4405f;
}

/*Ini Akhir bagian Footer*/
